form {
  display: block;
  padding: 1rem 1rem;
  font-size: 1rem;
}

input {
  background-color: rgba(210, 181, 227, 0.649);
  font-size: 1rem;
  padding: 0 2 0 2 rem;
  border: none;
  outline: none;
  border-radius: 8px;
  text-align: center;
  width: 240px;
}

button {
  padding: 0 2 0 2 rem;
  border-radius: 8px;
  text-align: center;
}

button:hover {
  background-color: rgba(210, 181, 227, 0.649);
}
