div {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 2px;
}
.btn-marker {
  background: url('../../assets/image/marker_red.png') no-repeat center /
    contain;
  width: 22px;
  height: 35px;
  border: none;
}
.btn-marker:focus {
  outline: transparent;
}
