* {
  font-family: 'Do_Hyeon';
}

.background {
  background: rgb(241, 249, 245);
  align-items: center;
}

.month {
  text-align: center;
  font-size: 2rem;
}

.calendarBtn {
  text-decoration: none;
  color: black;
}

.calendarBtn:hover {
  color: #000;
  text-decoration: underline;
}

.container {
  height: auto;
  width: auto;
  align-items: center;
}
